main#page.page
	.column-3.backdrop.for-section-3
	.column-4.backdrop.for-section-3
	.column-1.slim.for-level-1.for-section-3
		a(href="/" class="uplevel pjax" data-section="home")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				<br>
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
			h1.section-title Journal
	.l1.level-1-container
		.column-3
			.journal-content
				.articles-list
					.article-preview(ng-repeat="post in posts | orderBy:'published':true")
						h1
							a(href="/journal/{{post.slug}}") {{post.title}}
						p {{post.subtitle}}
						a(href="/journal/{{post.slug}}" class="pjax read-more" data-section="journal" data-level="1") Read More
				.footer
					.container
						p.copyright
							© Marco Lavielle ·
							a.about(href="/about" data-section="about") About this site
