main#page.page.dashboard
	.column-2.backdrop
	.column-1
		a(href="/" class="uplevel pjax" data-section="homepage")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				<br>
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
		dl
			dt(ng-click="postsClick()") Posts
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
			dt(ng-click="createPostsClick()") Create A Post
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
	l1.level-1-container
		.container
			.well.create-post
				form.form-horizontal(name="postsForm")
					fieldset
						legend Create a Post
						.form-group
							label.col-md-2.control-label(for="title") Title
							.col-md-10
								input.form-control(name="title", type="text", placeholder="Title", ng-model="title", required)
						.form-group
							label.col-md-2.control-label(for="subtitle") Sub-Title
							.col-md-10
								input.form-control(name="subtitle", type="text", placeholder="Subtitle", ng-model="subtitle", required)
						.form-group
							label.col-md-2.control-label(for="author") Author
							.col-md-10
								input.form-control(name="author", type="text", placeholder="Author", ng-model="author", required)
						.form-group
							label.col-md-2.control-label(for="body") Body
							.col-md-10
								textarea(tbio="", ng-model="body", rows="20", id="tbioTextArea", name="tbioTextArea")
						.form-group
							.col-md-10.col-md-offset-2
								.pull-right
									button.btn.btn-primary(ng-click="createPost()", ng-disabled="signupForm.$invalid") Post
									| &nbsp;
									a.btn.btn-default(href="/") Cancel
script(type="text/javascript", src="/app/vendor/textboxio.js")
script.
	var editor = textboxio.replace('#tbioTextArea');