main#page.page
	.column-2.wider.backdrop.for-section-3
	.column-3.backdrop.for-section-3
	.column-4.backdrop.for-section-3
	.column-1.slim.for-level-1.for-section-3
		a(href="/" class="uplevel pjax" data-section="home")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				<br>
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
			h1.section-title Journal
		dl.stats.journal-stats
			.twitter-follow-button-wrapper
				a.twitter-follow-button(href='https://twitter.com/marcolavielle', data-show-count='false') Follow @marcolavielle
			dt Instagram
			dd
				a(href="http://instagram.com/cuban_papi_chulo" target="_blank" rel="nofollow") cuban_papi_chulo
	.column-2.scrollable.wider.for-section-3
	.l1.level-1-container
		.column-3
		.column-4
			.article-content
				.container
					a(class="back pjax uplevel" href="/journal" data-level="0" data-section="section-3")
						span.arrow <
						span.text See All
						span.section-title.mobile-only Journal
					header.article-info
						h1 {{post.title}}
						h2 {{post.subtitle}}
						small
					.article-body(ng-bind-html="post.body")
				.footer
					.container
						p.copyright
							© Marco Lavielle ·
							a.about(href="/about" data-section="about") About this site
