main#page.page.dashboard
	.column-2.backdrop
	.column-1
		a(href="/" class="uplevel pjax" data-section="homepage")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				<br>
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
		dl
			dt(ng-click="postsClick()") Posts
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
			dt(ng-click="createPostsClick()") Create A Post
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
	l1.level-1-container
		.container(ng-show="!createPostVisible")
			.well.post-list
				form.form-inline.filter-options
					.form-group
						input.form-control(ng-model="searchText", placeholder="Filter")
					.form-group.margin-left-med
						select.form-group(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
				table.table.table-hover.table-striped.table-condensed
					thead
						tr
							th Title
							th Publish Date
							th
							th
						tbody
							tr(ng-repeat="post in posts | filter:searchText | orderBy:sortOrder")
								td
									a(href="/journal/{{post.slug}}") {{post.title}}
								td {{post.published | date}}
								td
									a(ng-click="editPost(post._id)", class="btn btn-small btn-primary") Edit
								td
									a(ng-click="deletePost(post._id)", class="btn btn-small btn-danger") Delete
		