body
	//padding-top 69px
	background-color #171d25
	overflow hidden
section
	//height 100vh
.navbar-header a.navbar-brand
	h6
		color #ccc
.footer
	font-size 14px
	font-weight 400
	padding 36px 41px 24px 50px
	-webkit-font-smoothing antialiased
.loaded .desktop .home-footer
	opacity 1
	-webkit-transform none
	transition-delay 550ms
.desktop .home-footer
	margin 230px 0 0 -160px
	position absolute
	top 50%
	left 25%
	text-align left
	width 300px
	transition all 300ms ease-out
.desktop footer
	display block
.footer.home-footer
	color #515e6f
.footer.home-footer a
	color inherit
	font-weight inherit
.footer a
	display inline-block
	margin 0 2px
	text-decoration none
.footer a:hover
	color #7cb9e3
ol, ul
	list-style none
.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.top-padding-med
	padding-top 10px

.margin-left-med
	margin-left 10px
		
.toast-top-right
	top 70px

.toast-success
	background-color #13987e

//HOMEPAGE LOGO//
.loaded .home-logo
	opacity 1
	-webkit-transform translateY(0)
.desktop .home-logo
	display block
	margin -48px 0 0 -150px
	margin-top -20px
	margin-left -118px
	position absolute
	top 15%
	left 25%
.home-logo
	transition all 800ms ease-out 600ms
.logo
	color #fff
	text-transform uppercase
	white-space nowrap
	-webkit-font-smoothing antialiased
	-webkit-user-select none
.logo span
	-webkit-animation-name flash-letter
	-webkit-animation-iteration-count infinite
	-webkit-animation-duration 2400ms
	-webkit-animation-duration 3.2s
	-webkit-animation-timing-function ease
	-webkit-animation-fill-mode none
	letter-spacing 0.5em
.logo span
	opacity 0.35
.home-logo span
	font-size 18px
.logo .m
	-webkit-animation-delay 0
.logo .a
	-webkit-animation-delay 100ms
.logo .r
	-webkit-animation-delay 200ms
.logo .c
	-webkit-animation-delay 300ms
.logo .o
	-webkit-animation-delay 400ms
.logo .space
	-webkit-animation-delay 500ms
.logo .l
	-webkit-animation-delay 600ms
.logo .a2
	-webkit-animation-delay 700ms
.logo .v
	-webkit-animation-delay 800ms
.logo .i
	-webkit-animation-delay 900ms
.logo .e
	-webkit-animation-delay 1000ms
.logo .l2
	-webkit-animation-delay 1100ms
.logo .l3
	-webkit-animation-delay 1200ms
.logo .e2
	-webkit-animation-delay 1300ms
@-webkit-keyframes flash-letter
	0%
		opacity 0.35
	30%
		opacity 0.8
	100%
		opacity 0.21
.desktop .sections-nav
	transition all 200ms ease-out
	display block
	margin -220px 0 0 -150px
	margin-top -200px
	position absolute
	top 55%
	left 25%
	height 400px
	width 250px
.sections-nav
	-webkit-user-select none
.sections-nav .selection
	transform translateY(0) translateZ(0)
	background #00aeef
	border-radius 1px
	display block
	position absolute
	top 16px
	left 0
	height 80px
	width 6px
	transition all 240ms cubic-bezier(0.145, 1.075, 0.345, 1.12) 600ms
	tranistion-duration 400ms
.sections-nav li:nth-child(2)
	transition-delay 120ms
.loaded .sections-nav li
	opacity 1
	-webkit-transform none
	transform none
.sections-nav li
	margin 0 0 30px 0
	webkit-font-smoothing antialiased
	transition all 200ms ease-out
.sections-nav li a
	display block
	padding 0 12px 0 0px
	height 100px
	text-decoration none
	text-align left
	-webkit-font-smoothing antialiased
.sections-nav li strong
	color #fff
	display inline-block
	font-size 24px
	margin 28px 0 0 0
	vertical-align middle
.sections-nav li small
	color rgba(152,175,197,0.7)
	font-size 16px
	display block
.sections-nav li .icon
	margin 25px 0 0 8px
	vertical-align middle
	trasform translateZ(0)
	-webkit-transform-style preserve-3d
.icon
	display inline-block
	overflow hidden
	position relative
	vertical-align middle
	height 24px
	width 24px
.icon .bar
	background #00aeef
	display block
	margin 4px 0 0 0
	height 3px
	width 100%
	-webkit-animation-name bar-slide
	-webkit-animation-duration 1.3s
	-webkit-animation-timing-function ease-in-out
	-webkit-animation-direction alternate
	-webkit-animation-iteration-count infinite
	-webkit-animation-play-state running
.icon .bar.two
	-webkit-animation-name bar-slide2
	-webkit-animation-duration 1.4s
.icon .bar.three
	-webkit-animation-name bar-slide3
	-webkit-animation-duration 0.9s
@-webkit-keyframes bar-slide
	0%
		-webkit-transform translateX(-5%)
	100%
		-webkit-transform translateX(-60%)
@-webkit-keyframes bar-slide2
	0%
		-webkit-transform translateX(-10%)
	100%
		-webkit-transform:translateX(-35%)
@-webkit-keyframes bar-slide3
	0%
		-webkit-transform:translateX(-44%)
	100%
		-webkit-transform:translateX(-70%)
		
//SPINNERS
.spinner.desktop-only.spinning
	transform rotateZ(-240deg) translateZ(0)
.spinner.desktop-only
	transition all 300ms ease-in-out 200ms
	display block
@media (min-width: 1400px)
	.desktop .spinner.desktop-only
		right 45% !important
		margin-right -250px !important
.desktop .spinner.desktop-only
	display block
	margin -220px -200px 0 0
	margin-top -200px
	position absolute
	top 55%
	right 35%
	height 400px
	width 400px
.spinner.desktop-only
	display none
.desktop .desktop-only
	display none
.desktop-only
	display none
.loaded .spinner .rings
	opacity 1
	-webkit-transform scale(1) rotateZ(0)
	transform scale(1) rotateZ(0)
.spinner .rings
	position absolute
	top 0
	left 0
	height 100%
	width 100%
	transition all 800ms ease
	opacity 0.15
	-webkit-transform-style flat
	-webkit-transform scale(0.2) rotateZ(-300deg)
	transform scale(0.2) rotateZ(-300deg)
.desktop .spinner .ring.zero
	background-image url(../images/rings_desktop/0.png)
	margin -175px 0 0 -175px
	height 350px
	width 350px
.desktop .spinner .ring
	-webkit-animation-name spin
@-webkit-keyframes spin
	0%
		-webkit-transform rotateZ(0)
		transform rotateZ(0)
	100%
		-webkit-transform rotateZ(360deg)
		transform rotateZ(360deg)
.spinner .ring.zero
	-webkit-animation-duration 70s
.desktop .spinner .ring
	background url(../images/rings_desktop/1.png) no-repeat center center
	background-size 470px 470px
	margin -235px 0 0 -235px
	height 470px
	width 470px
.spinner .ring
	display block
	position absolute
	top 50%
	left 50%
	pointer-events none
	-webkit-animation-timing-function linear
	-webkit-animation-iteration-count infinite
	-webkit-animation-fill-mode none
	-webkit-animation-delay 700ms
.desktop .spinner .ring.one
	-webkit-animation-direction reverse
.spinner .ring.one
	-webkit-animation-duration 70s
.desktop .spinner .ring.two
	background-image url(../images/rings_desktop/2.png)
.spinner .ring.two
	-webkit-animation-duration 190s
.desktop .spinner .ring.three
	background-image url(../images/rings_desktop/3.png)
	-webkit-animation-direction reverse
	display none
.spinner .ring.three
	-webkit-animation-duration 80s
.spinner .ring.four
	display none
	-webkit-animation-duration 20s
	-webkit-animation-direction reverse
.spinner.desktop-only .section-1-preview
	position absolute
	top 2%
	left 50%
	display block
.loaded .spinner.desktop-only .mini-preview
	opacity 1
	-webkit-transform scale(1)
	transform scale(1)
.spinner.desktop-only .mini-preview
	background #213340
	border 10px solid #171d25
	border-radius 60px
	display block
	margin -45px 0 0 -45px
	opacity 0
	position absolute
	top 0
	left 0
	height 100px
	width 100px
	transition all 200ms ease-out 200ms
	-webkit-transfrom scale(0.6)
	transform scale(0.6)
//.loaded .spinner.desktop-only .mini-preview .symbol
	//-webkit-transform rotateZ(-120deg) translateZ(0)
	//transform rotateZ(-120deg) translateZ(0)
.spinner.desktop-only .mini-preview .symbol
	display block
	color #000
	font-size 32px
	position absolute
	text-align center
	top 0
	left 0
	height 80px
	width 100%
	transition all 300ms ease-in-out 200ms
	-webkit-transform translateZ(0)
	transform translateZ(0)
.spinner.desktop-only .mini-preview .symbol .text
	color #677a95
	display block
	font-size 12px
	font-weight 500
	padding 30px 12px 0 12px
	margin 0
	text-align center
	text-transform uppercase
	width auto
	transition all 150ms ease-out
.spinner.desktop-only .section-2-preview
	position absolute
	top 69%
	left 90.5%
	display block
.spinner.desktop-only .section-3-preview
	position absolute
	top 72%
	left 8.5%
	display block
.spinner.desktop-only .full-preview.section-3
	//-webkit-transform scale(0.8) rotateZ(-120deg)
	transform scale(0.8) rotateZ(-120deg)
.spinner.desktop-only .section-3-preview .full-preview
	margin -70px 0 0 -80px
.spinner.desktop-only .full-preview
	display block
	margin -70px 0 0 -80px
	position absolute
	top 0
	left 0
	height 160px
	width 160px
	transition all 200ms ease 200ms
	z-index 12
	opacity 0
	-webkit-transform scale(0.8)
	transform scale(0.8)
.spinner.desktop-only .full-preview .big-circle.backdrop
	background #171d25
	transform scale(1.16)
.spinner.desktop-only .full-preview .big-circle
	background #00aeef
	border-radius 80px
	display block
	position absolute
	top 0
	left 0
	height 160px
	width 160px
.spinner.desktop-only .full-preview.section-3 .big-circle.actual
	background #14bfff
	opacity 0.95
	transform scale(1) translateZ(0)
	transition all 130ms ease-out
.spinner.desktop-only .top-circle-contents.section-3
	opacity 1
	trasnform scale(1)
	transition-delay 400ms
.spinner.desktop-only .top-circle-contents
	display block
	margin 0 0 0 -61px
	pointer-events none
	position absolute
	top -32px
	left 50%
	height 80px
	width 120px
	transition all 180ms ease 600ms
	-webkit-transform scale(0.9)
	transform scale(0.9)
	opacity 0
	z-index 11
.spinner.desktop-only .top-circle-contents small
	color #fff
	display block
	font-size 16px
	letter-spacing 1px
	text-align center
	text-transform uppercase
.loaded.preview-section-1 .spinner.desktop-only .section-1-preview .full-preview, .loaded.preview-section-2 .spinner.desktop-only .section-2-preview .full-preview, .loaded.preview-section-3 .spinner.desktop-only .section-3-preview .full-preview
	opacity 1
	-webkit-transform scale(1)
	transform scale(1)
	transition-delay 400ms
.section-1-circles
	height 175px
	width 180px
.preview-section-1.loaded .section-1-circles .circle.circle-a.backdrop, .section-1.loaded .section-1-circles .circle.circle-a.backdrop
	-webkit-transform scale(1.2)
	transform scale(1.2)
.preview-section-1.loaded .section-1-circles .circle.circle-a, .section-1.loaded .section-1-circles .circle.circle-a
	transition-delay 0ms
.preview-section-1.loaded .section-1-circles .circle.backdrop, .section1.loaded .section-1-circles .circle.backdrop
	-webkit-transform scale(1.35)
	transform scale(1.35)
.preview-section-1.loaded .section-1-circles .circle, .section-1.loaded .section-1-circles .circle
	opacity 1
	tranistion-duration 320ms
.section-1-circles .circle.circle-a
	-webkit-transform scale(0.35)
	transform scale(0.35)
.section-1-circles .circle.circle-a
	top 26px
	left -30px
	height 130px
	width 130px
.section-1-circles .circle.backdrop
	background #171d25
	border-radius 80px
.section-1-circles .circle
	display block
	position absolute
	height 60px
	width 60px
	opacity 0
	transition all 320ms ease 240ms
	-webkit-transform scale(0.65)
	transform scale(0.65)
.preview-section-1.loaded .section-1-circles .circle.circle-b, .section-1.loaded .section-1-circles .circle.circle-b
	transition-delay 240ms
.preview-section-1.loaded .section-1-circles .circle.circle-b.backdrop, .section-1.loaded .section-1-circles .circle.circle-b.backdrop
	-webkit-transform scale(1.35)
	transform scale(1.35)
.section-1-circles .circle.circle-b
	transition-delay 100ms
.section-1-circles .circle.circle-b
	top 22px
	left 112px
.preview-section-1.loaded .section-1-circles .circle.circle-c, .section-1.loaded .section-1-circles .circle.circle-c
	transition-delay 400ms
.preview-section-1.loaded .section-1-circles .circle.circle-c.backdrop, .section-1.loaded .section-1-circles .circle.circle-c.backdrop
	-webkit-transform scale(1.35)
	transform scale(1.35)
.section-1-circles .circle.circle-c
	transition-delay 0
.section-1-circles .circle.circle-c
	top 97px
	left 108px
	height 55px
	width 55px
.preview-section-1.loaded .section-1-circles .circle.circle-a, .section-1.loaded .section-1-circles .circle.circle-a
	transition-delay 0ms
.preview-section-1.loaded .section-1-circles .circle.full, .section-1.loaded .section-1-circles .circle.full
	-webkit-transform scale(1) translateZ(0)
	transform scale(1) translateZ(0)
.section-1-circles .circle.full.circle-a .the-circle
	transition-delay 70ms
.section-1-circles .circle .the-circle
	background #14bfff
	border-radius 80px
	position absolute
	top 0
	left 0
	height 100%
	width 100%
	opacity 0.95
	-webkit-transform scale(1) translateZ(0)
	transform scale(1) translateZ(0)
	-webkit-backface-visibility hidden
	transition all 130ms ease-out
.section-1-circles .circle.circle-a strong
	margin 34px 0 6px 0
.section-1-circles .circle strong
	color #111
	display block
	font-size 36px
	position relative
	text-align center
	-webkit-transform translateZ(0)
	-webkit-backface-visibility hidden
.section-1-circles .circle small
	color #fff
	display block
	font-size 16px
	letter-spacing 1px
	position relative
	text-align center
	text-transform uppercase
	-webkit-transform trasnlateZ(0)
	-webkit-backface-visibility hidden
.preview-section-1 .spinner.desktop-only.spinning
	-webkit-transform rotateZ(0)
	trasnform rotateZ(0) translateZ(0)
.detected .spinner.desktop-only
	transition all 300ms ease-in-out 200ms
	

//WORK PAGE STYLES
.loaded .desktop .column-1
	opacity 1
	-webkit-transform translateX(0)
	transition-delay 100ms
.desktop .column-1
	display block
.desktop .column-1
	position absolute
	position fixed
	top 0
	left 0
	width 21%
	transition all 200ms ease
	-webkit-transform translateX(-32px)
	opacity 0
.desktop .column-1 .uplevel
	transition all 200ms ease-out
.desktop .column-1 .uplevel
	display block
	margin 24px 0 0px 0
	padding 8px 0 32px 0
	text-decoration none
	text-transform uppercase
	-webkit-font-smoothing antialiased
.column-1
	display none
a.uplevel.pjax
	z-index 1
.desktop .column-1 .uplevel .arrow
	color #495269
	display block
	font-size 22px
	line-height 12px
	float left
	margin 0 0 0 22px
.desktop .column-1 .uplevel strong
	display block
	margin 0 0 0 42px
	text-align left
.uplevel .logo
	font 0/18px "DINWeb","Lucida Grande",verdana,sans-serif
	padding-bottom 8px
.column-1 .logo .m
	transition-delay 320ms !important
.uplevel .logo span
	opacity 0.5
	font-size 12px
	-webkit-animation none
	-webkit-transform none
	transition all 300ms ease
.desktop .column-1 .section-title
	color #00bff3
	display inline-block
	font 16px/24px "DINWeb","Lucida Grande",verdana,sans-serif
	letter-spacing 3px
	margin 0 0 0 42px
	text-transform uppercase
	vertical-align middle
.desktop .column-1 .alive.icon
	margin -1px 0 0 6px
.smaller.icon
	height 16px
	width 16px
.smaller.icon .bar
	margin 2px 0 0 0
	height 2px
.loaded .desktop .column-2.backdrop
	opacity 1
	-webkit-transform translateX(0)
	transition-delay 60ms
.desktop .column-2.backdrop
	background #1d242e
	height 100%
	opacity 0
	-webkit-transform translateX(120%)
	transition all 200ms ease-out
.loaded .desktop .column-2
	opacity 1
	-webkit-transform translateX(0)
	transition-delay 260ms
.desktop .column-1.backdrop, .desktop .column-2.backdrop, .desktop .column-3.backdrop
	padding 0 !important
	transition all 200ms ease
	z-index 0
.desktop .column-2
	display block
.desktop .column-2
	position fixed
	top 0
	left 21%
	width 17%
	transition all 160ms ease-out
	opacity 0
	-webkit-transform translateX(24px)
.loaded .desktop .column-3.for-section-1
	transition-delay 180ms
.loaded .desktop .column-3
	opacity 1
	-webkit-transform translateX(0)
	transition-delay 200ms
.desktop .column-3
	min-height 100%
	opacity 0
	-webkit-transform translateX(18)
	-webkit-transform-origin right center
	-webkit-transform-origin 0 0
	transition all 180ms ease-out
	overflow hidden
	position absolute
	top 0
	left 38%
	right 0
	background #fff