body
	padding-top 61px

section
	height 100vh

.navbar-header a.navbar-brand
	h6
		color #ccc

footer
	position fixed
	bottom 0
	padding-left 15px
	padding-right 15px
	p
		border-top 1px solid #d7e0e2
		padding 15px