main#page.page
	.column-1
		a(href="/" class="uplevel pjax" data-section="home")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				span.space
					| 
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
			h1.section-title.mobile-only About
	.about-content
		.fancy-header
			h1 Thanks for visiting
			h2 I Design & Build Beautiful Crafted Web Experiences
		.personal-info
			.container
				.mri.mobile-only
					span.grey.layer
					span.layer.one
					span.layer.two
					span.layer.three
					span.layer.four
					span.layer.five
					span.blip
						span.cover-below
				.text
					p Hi, I'm Marco Lavielle. I live in Sydney and develop/design mobile and web apps. I enjoy running, chess and beaches. I am really passionate about the start-up scene. Ruby on Rails full stack engineer by day, iOS engineer by night.
					p This site is a showcase of my work. Please get in touch if you want to discuss projects to work on. Although I am usually involved in quite a few projects at the same time, I love to hear ideas and think of ways to solve hard problems.
				.stats
					dl.stats-1
						dt Name
						dd Marco Lavielle
						dt Birthday
						dd October 13
						dt Born in
						dd Mexico
						dt Currently in
						dd Sydney
					dl.stats-2.smaller
						dt Telephone
						dd 0423478156
						dt Email
						dd contact@marcolavielle.com
						dt Address
						dd Redfern, NSW, Sydney
		.attribution
			//h1 Social Links
			ul
				li.linkedin
					span.logo
					//h2 Linkedin
				li.twitter
					span.logo
					//h2 Twitter
				li.facebook
					span.logo
					//h2 Facebook