main#page.page
	.column-2.backdrop
	.column-3.backdrop.for-section-2
	.section-header.backdrop.for-section-2
	.section-2-columns
		.column-1
			a(href="/" class="uplevel pjax" data-section="home")
				span.arrow ‹
				strong.logo
					span.m
						| M
					span.a
						| A
					span.r
						| R
					span.c
						| C
					span.o
						| O
					span.space
						| 
					span.l
						| L
					span.a2
						| A
					span.v
						| V
					span.i
						| I
					span.e
						| E
					span.l2
						| L
					span.l3
						| L
					span.e2
						| E
				h1.section-title Experience
				span.smaller.alive.icon.section-1-icon
					span.bar.one
					span.bar.two
					span.bar.three
			.hoverable
				dl.coding-skills
					dt Javascript
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt Ruby On Rails
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt CSS3
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt HTML5
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt Postgresql
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt Analytics
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
					dt Design
					dd
						span.value
						span.low.bar
							span.fill(style="width: 70%")
						span.critical.low.alert
							span.icon
		.column-2.for-section-2
			dl.bigger.stats
				//.learning.history.hoverable
					.behind-1
					dt.h3-style Currently Learning
					br
					dt Swift
				.age
					dt Age
					dd
						span.incrementable.age-increment.processed(style="width: 31px;") 30
						span.age-decimal .
							span.incrementable.age-decimal-increment.processed(style="width: 54px;") 24124512
		.column-3.for-section-2
			header.section-2-header.section-header
				h1 Education
				.education-item
					h3 Startup Engineering
					h4 2013-2013
					h5 Stanford University, Online
				.education-item
					h3 Master of Business Administration
					h4 2009-2011
					h5 Univeristy of Technology, Sydney
				.education-item
					h3 Bachelor of Business Administration
					h4 2003-2008
					h5 Monterrey Institute of Technology
			.section-2-content
				.experience-item
					h2 Senior Front End Engineer (UI/UX)
					.company
						h3 Fairfax Media
						.date July 2014 – Present
						.location Sydney, Australia
					.description
						| Currently doing a complete redesign of the user interface and user experience of the commercial real estate business of the Domain group. The tech stack I am using is KnockoutJS, HTML5, CSS3 and Foundation to build a single page application. I create the user experience based on user research data. The user interface is based on Photoshop mock-ups, responsive layout and high device/browser coverage.
				.experience-item
					h2 Ruby On Rails Engineer
					.company
						h3 LawPath
						.date September 2013 – July 2014
						.location Sydney, Australia
					.description
						| Australia’s largest and fastest growing legal platform. LawPath connects Australian businesses to expert lawyers with the right experience at low cost across Australia and the rest of the world.