main#page.page.dashboard
	.column-2.backdrop
	.column-1
		a(href="/" class="uplevel pjax" data-section="homepage")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				<br>
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
		dl
			dt(ng-click="goToDashboard()") Dashboard
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
			dt(ng-click="createPostClick()") Create A Post
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
			dt(ng-click="createClientClick()") Create A Client
			dd
				span.value
				span.low.bar
					span.fill(style="width: 100%")
				span.critical.low.alert
					span.icon
	l1.level-1-container
		.container
			.well.create-post
				form.form-horizontal(name="clientsForm")
					fieldset
						legend Create a Client
						.form-group
							label.col-md-2.control-label(for="title") Name
							.col-md-10
								input.form-control(name="name", type="text", placeholder="Name", ng-model="name", required)
						.form-group
							label.col-md-2.control-label(for="subtitle") Tags
							.col-md-10
								input.form-control(name="tags", type="text", placeholder="Tags", ng-model="tags", required)
						.form-group
							label.col-md-2.control-label(for="url") URL
							.col-md-10
								input.form-control(name="url", type="text", placeholder="URL", ng-model="url", required)
						.form-group
							label.col-md-2.control-label(for="photo") Photo URL
							.col-md-10
								input.form-control(name="photo", type="text", placeholder="Photo URL", ng-model="photo", required)
						.form-group
							label.col-md-2.control-label(for="body") Description
							.col-md-10
								textarea(tbio="", ng-model="body", rows="20", id="tbioTextArea", name="tbioTextArea")
						.form-group
							.col-md-10.col-md-offset-2
								.pull-right
									button.btn.btn-primary(ng-click="createClient()", ng-disabled="clientsForm.$invalid") Submit
									| &nbsp;
									a.btn.btn-default(href="/") Cancel
script(type="text/javascript", src="/app/vendor/textboxio.js")
script.
	var editor = textboxio.replace('#tbioTextArea');