main#page.page
	//.column-2.backdrop
	.wide.column-3.backdrop.for-section-1
	.wide.section-header.backdrop
	.column-1
		a(href="/" class="uplevel pjax" data-section="home")
			span.arrow ‹
			strong.logo
				span.m
					| M
				span.a
					| A
				span.r
					| R
				span.c
					| C
				span.o
					| O
				span.space
					| 
				span.l
					| L
				span.a2
					| A
				span.v
					| V
				span.i
					| I
				span.e
					| E
				span.l2
					| L
				span.l3
					| L
				span.e2
					| E
			h1.section-title Work
			span.smaller.alive.icon.section-1-icon
				span.bar.one
				span.bar.two
				span.bar.three
	.l1.level-1-container
		.wide.column-3
			header.wide.section-header.section-1-header
				.map-container
					a.pjax.blip.go-to-day.positioned.showing(style="left: 642px; top: 232px;")
						span.circle-1
						span.circle-2
						span.circle-3
						span.circle
							img.symbol
					.map-goes-here
				.current-location
					h3 Coded in
					h1
						a Sydney
					.lat-long
						span.lat
							small Latitude
							span.value 33.520413
						span.long
							small Longitude
							span.value 151.122633
			section.content
				.clients-list
					.client-example(ng-repeat="client in clients | orderBy:sortOrder")
						.client-title
							a(href="/clients/{{client.slug}}") {{client.name}}
							ul.tags
								li.tag {{client.tags}}
						.client-url
							.text
								small
									a(href="{{client.url}}" target="_blank") {{client.url}}
						.client-photos
							.photo
								img(src="{{client.photo}}")
//.container.top-padding-med
	.pull-right
		form.form-inline
			.form-group
				input.form-conrol(ng-model="searchText", placeholder="Filter")
			.form-group.margin-left-med
				select.form-group(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
	table.table.table-hover.table-striped.table-condensed
		thead
			tr
				th Name
				th Publish Date
			tbody
				tr(ng-repeat="client in clients | filter:searchText | orderBy:sortOrder")
					td
						a(href="/clients/{{client._id}}") {{client.name}}
					td {{client.published | date}}
