main#page.page
  //.column-2.backdrop
  .wide.column-3.backdrop.for-section-1
  .wide.section-header.backdrop
  .column-1
    a(href="/" class="uplevel pjax" data-section="home")
      span.arrow ‹
      strong.logo
        span.m
          | M
        span.a
          | A
        span.r
          | R
        span.c
          | C
        span.o
          | O
        <br>
        span.l
          | L
        span.a2
          | A
        span.v
          | V
        span.i
          | I
        span.e
          | E
        span.l2
          | L
        span.l3
          | L
        span.e2
          | E
      h1.section-title Work
      span.smaller.alive.icon.section-1-icon
        span.bar.one
        span.bar.two
        span.bar.three
    dl.stats.section-1-stats
      dt Web/Mobile Apps
      dd {{clients.length}}
      dt Countries
      dd 2
      //- dt
      //-   a(href="/clients" class="full-preview section-1 section-1-circles" data-section="section-1") Software >
      //- dd
      //- dt
      //-   a(href="/experience" class="full-preview section-2" data-section="section-2") Experience >
      //- dd
  .l1.level-1-container.client-screen
    .wide.column-3
      header.wide.section-header.section-1-header
        .map-container
          a.pjax.blip.go-to-day.positioned.showing(style="left: 642px; top: 232px;")
            span.circle-1
            span.circle-2
            span.circle-3
            span.circle
              img.symbol
          .map-goes-here
        .current-location
          h3 Coded in
          h1
            a Sydney
          .lat-long
            span.lat
              small Latitude
              span.value 33.520413
            span.long
              small Longitude
              span.value 151.122633
      section.content
        .clients-list
          .client-example(ng-repeat="client in clients | orderBy:sortOrder")
            h2.client-title
              //- a(href="/clients/{{client.slug}}") {{client.name}}
              a {{client.name}}
              ul.tags
                li.tag {{client.tags}}
            .client-url
              .text
                small
                  a(href="{{client.url}}" target="_blank" rel="nofollow") {{client.url}}
            .client-photos
              .photo
                img(src="{{client.photo}}")
      .footer
        .container
          p.copyright
            © 2018 Marco Lavielle ·
            a.about(href="/about" data-section="about") About this site ·
            a.twitter(href="http://twitter.com/marcolavielle" target="_blank" rel="nofollow")
              span.logo #{' · '}
            a.instagram(href="http://instagram.com/cuban_papi_chulo" target="_blank" rel="nofollow")
              span.logo
