.panel.panel-primary
	.panel-heading.text-center Featured Apps
	.panel-body
		.row(ng-repeat="client in clients | filter:{featured:true}")
			.col-md-12 
				a(href="/clients/{{client._id}}") {{client.name}}