.container
	.desktop
		h1.logo.home-logo
			span.c
				| C
			span.r
				| R
			span.e
				| E
			span.a
				| A
			span.t
				| T
			span.i
				| I
			span.n
				| N
			span.g
				| G
			span.space
				| 
			span.a2
				| A
			span.p
				| P
			span.p2
				| P
			span.s
				| S
		ul.sections-nav
			span.selection.cursor-only
			li.technology
				a(href="/technology" data-section="technology")
					strong Technology
					span.alive.icon.technology-icon
						span.bar.one
						span.bar.two
						span.bar.three
					small
						| Technologies we use
			li.clients
				a(href="/clients" data-section="clients")
					strong Our Work
					small 
						| Showcase of work
			li.contact
				a(href="/contact" data-section="contact")
					strong Contact Us
					small 
						| Get a quote
		.spinner.spinning.desktop-only
			span.rings
				span.group-1
					span.ring.zero
				span.ring.one
				span.group-2
					span.ring.two
				span.group-3
					span.ring.three
					span.ring.four
			.technology-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Tech
			.clients-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Work
			.contact-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Contact
				a(href="/contact" class="full-preview contact" data-section="contact")
					span.big-circle.backdrop
					span.big-circle.actual
		.footer.home-footer
			p.copyright
				a(href="/about" data-section="about") About us
//.site-wrapper
	.site-wrapper-inner
		.cover-container
			.masthead
				.clearfix
					.inner
						h3.masthead-brand 
							| Creating Apps
						nav
							ul.nav.masthead-nav
								li.active
									a(href="/") Home
								li
									a(href="/clients") Clients
								li
									a(href="/about") About
								li
									a(href="/contact") Contact
								//li
									a(href="/") Login
									span or
									a(href="/") Sign Up
					.inner
						.cover
							h1.cover-heading 
								| The most advanced Technology Consultancy in Sydney


//.container
	.jumbotron
		h1 Creating Apps
		p We are a technology agency focused on developing high quality applications. 

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-apps'")
		.col-md-6
			div(ng-include="'/partials/main/new-apps'")