main#page.page
	h1.logo.home-logo
		span.m
			| M
		span.a
			| A
		span.r
			| R
		span.c
			| C
		span.o
			| O
		span.space
			| 
		span.l
			| L
		span.a2
			| A
		span.v
			| V
		span.i
			| I
		span.e
			| E
		span.l2
			| L
		span.l3
			| L
		span.e2
			| E
	ul.sections-nav
		span.selection.cursor-only
		li.section-1(ng-mouseenter="section='preview-section-1'")
			a(href="/clients" data-section="clients")
				strong My Work
				span.alive.icon.section-1-icon
					span.bar.one
					span.bar.two
					span.bar.three
				small
					| Portfolio
		li.section-2(ng-mouseenter="section='preview-section-2'")
			a(href="/experience" data-section="experience")
				strong Experience
				small 
					| Technology
		li.section-3(ng-mouseenter="section='preview-section-3'")
			a(href="/journal" data-section="journal")
				strong Thoughts
				small 
					| Ideas
	.spinner.stationary.desktop-only
		.section-1-spinner-content.content-preview
			.map-container
				#map-goes-here.map-goes-here
					.the-map
			.run-details.run-card
				.details
					h3 Currently Coding At
					h4 Digital Transformation Agency
					a.pjax.all(href="/clients") See all
		.section-2-spinner-content.content-preview
			.map-container
				#map-goes-here.map-goes-here
					.the-map
					span.blip.location-coordinates.positioned.showing(style="left: 220px; top: 136px;")
						span.blip-ring.one
						span.blip-ring.two
						span.blip-ring.three
						span.center
							span
			.location-details
				h3.location-city
					| Sydney, NSW
				h4.location-time-ago
					| Australia
		.section-2.top-circle-contents
			small Currently In
			span.location-name Sydney
			span.location-icon
				img(src="../images/home_32.png")
		.section-3-spinner-content.content-preview
			h2 {{posts[posts.length - 1].title}}
			p {{posts[posts.length - 1].subtitle}}
			a.all(href="/journal/{{posts[posts.length - 1].slug}}" data-section="journal") Read More
		.section-3.top-circle-contents
			strong {{posts.length}}
			small Articles
	.spinner.spinning.desktop-only
		span.rings
			span.group-1
				span.ring.zero
			span.ring.one
			span.group-2
				span.ring.two
			span.group-3
				span.ring.three
				span.ring.four
		.section-1-preview.desktop-only
			span.mini-preview
				span.symbol
					span.text
						| Work		
			a(href="/clients" class="full-preview section-1 section-1-circles" data-section="section-1")
				span.circle-a.circle.backdrop
				span.circle-b.circle.backdrop
				//- span.circle-c.circle.backdrop
				span.circle-a.full.circle
					span.the-circle
					strong {{clients.length}}
					small Apps
				span.circle-b.full.circle
					span.the-circle
					strong 2
					small Cities
				//- span.circle-c.full.circle
				//- 	span.the-circle
				//- 	strong 2
				//- 	small Cities
		.section-2-preview.desktop-only
			span.mini-preview
				span.symbol
					span.text
						| Tech
			a(href="/experience" class="full-preview section-2" data-section="section-2")
				span.big-circle.backdrop
				span.big-circle.actual
		.section-3-preview.desktop-only
			span.mini-preview()
				span.symbol
					span.text
						| Journal
			a(href="/journal" class="full-preview section-3" data-section="section-3")
				span.big-circle.backdrop
				span.big-circle.actual
	.spinner.spinning.mobile-only
		span.rings
			span.group-1
				span.ring.zero
			span.ring.one
			span.group-2
				span.ring.two
			span.group-3
				span.ring.three
				span.ring.four
	.home-last-location.mobile-only
		h3 Last Seen At
		section.location-details
			h1.location-name.long
				a.transitioned
					span.name Qantas
					span.location-icon
						//- img(src="")
			small
				span.location-city Sydney, NSW
	span.spinner-cover.mobile-only
	.footer.home-footer
		p.copyright
			a(href="/about" data-section="about") About and Contact