.container
	.desktop
		h1.logo.home-logo
			span.m
				| M
			span.a
				| A
			span.r
				| R
			span.c
				| C
			span.o
				| O
			span.space
				| 
			span.l
				| L
			span.a2
				| A
			span.v
				| V
			span.i
				| I
			span.e
				| E
			span.l2
				| L
			span.l3
				| L
			span.e2
				| E
		ul.sections-nav
			span.selection.cursor-only
			li.technology
				a(href="/clients" data-section="clients")
					strong My Work
					span.alive.icon.technology-icon
						span.bar.one
						span.bar.two
						span.bar.three
					small
						| Portfolio
			li.clients
				a(href="/experience" data-section="experience")
					strong Experience
					small 
						| Technology
			li.journal
				a(href="/journal" data-section="journal")
					strong Thoughts
					small 
						| Ideas on technology
		.spinner.stationary.desktop-only
			.journal.top-circle-contents
				//strong The
				small Work
		.spinner.spinning.desktop-only
			span.rings
				span.group-1
					span.ring.zero
				span.ring.one
				span.group-2
					span.ring.two
				span.group-3
					span.ring.three
					span.ring.four
			.technology-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Journal
			.clients-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Tech
			.journal-preview.desktop-only
				span.mini-preview
					span.symbol
						span.text
							| Journal
				a(href="/journal" class="full-preview journal" data-section="journal")
					span.big-circle.backdrop
					span.big-circle.actual
		.footer.home-footer
			p.copyright
				a(href="/about" data-section="about") About and Contact
//.site-wrapper
	.site-wrapper-inner
		.cover-container
			.masthead
				.clearfix
					.inner
						h3.masthead-brand 
							| Creating Apps
						nav
							ul.nav.masthead-nav
								li.active
									a(href="/") Home
								li
									a(href="/clients") Clients
								li
									a(href="/about") About
								li
									a(href="/contact") Contact
								//li
									a(href="/") Login
									span or
									a(href="/") Sign Up
					.inner
						.cover
							h1.cover-heading 
								| The most advanced Technology Consultancy in Sydney


//.container
	.jumbotron
		h1 Creating Apps
		p We are a technology agency focused on developing high quality applications. 

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-apps'")
		.col-md-6
			div(ng-include="'/partials/main/new-apps'")