.panel.panel-primary
	.panel-heading.text-center New Apps
	.panel-body
		.row(ng-repeat="app in apps | orderBy:'published':true | limitTo:10")
			.col-md-3 {{app.published | date:'MMM d'}}
			.col-md-9 {{app.name}}